html,
body {
    height: 100vh;
}
.checkbox-group {
    align-items: center;
}

.check-box {
    margin-left: 12px;
}

.title {
    font-size: 24px;
}

.label {
    font-size: 14px;
    font-weight: bold;
}

.label-span {
    font-size: 20px;
    font-weight: lighter;
}

.post-group {
    align-items: center;
}

.input-name {
    width: 48%;
}

.example-text {
    font-size: 14px;
    margin: 5px 0 0 15px;
}

.input-post {
    width: 94%;
}

.thanks-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.span {
    width: 31px !important;
}

.pagination-area {
    align-items: center;
}

.table-row {
    vertical-align: middle;
}

.table {
    width: auto;
}

.id-row {
    width: 5%;
}

.name-row {
    width: 18%;
}

.gender-row {
    width: 10%;
}

.email-row {
    width: 18%;
}

.opinion-row {
    width: 39%;
}

.button-row {
    width: 15%;
}

.opinion {
    max-width: 420px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.opinion:hover {
    white-space: normal;
}

.reset-button {
    border: none !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    cursor: pointer;
}
